*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    font-family: 'Courier New';

    justify-content: center;
    /* background-color: bisque; */
}

.main{
    border-radius: 5%;
    background-color: black;
    color: white;
    text-align: center;
    box-shadow: 20px 20px 25px black;
}
h1{
    font-size: 8vh;
    padding: 10px 20px;
    /* font-family: 'Courier New'; */
    font-weight: bold;
}
.container{
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f9f9f9;
    /* background-color: red; */
}

.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 10px;
    /* background-color: black; */
    gap: 10px;
}

.box{
    height: 16vmin;
    width: 16vmin;
    font-size: 40px;
    color: red;
    border-radius: 10px;
    border: 2px solid black;
    box-shadow: 2px 5px 2px black;
}

.reset-btn{
    margin: 20px;
    padding: 10px 15px;
    border-radius: 10px;
    border: none;
    font-weight: bold;
    font-size: 1.1rem;
}